{% extends 'principal/base.html' %}
{% load widget_tweaks %}
{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="row" style="padding-top: 0px;">
            <div class="col-md-12" style="padding-left: 90px; padding-right: 90px;">
                <div class="card card-primary" style="padding-left: 40px;">
                    <div class="card-body">
                        <h3><strong>Assign Classes to Teacher</strong></h3>
                    </div>
                    <form action="">
                        {% csrf_token %}
                        {% if messages %}
                        <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        </div>
                        {% endif %}
                        <div class="card-body">
                            {% for field in form %}
                                <div class="form-group" style="padding-right: 200px;">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field |add_class:"form-control"}}
                                </div>
                            {% endfor %%}
                        </div>
                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Assign Section</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}
