{% extends 'principal/base.html' %}

{% block page_title %}
Add Class
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="row" style="padding-top: 0px;">
            <div class="col-md-12" style="padding-left: 90px; padding-right: 90px;">
                <div class="card card-primary" style="padding-left: 100px; padding-right: 100px; padding-bottom: 50px;">
                    <div class="card-body">
                        <h3><strong>Add Class</strong></h3>
                    </div>
                    <form role="form" method="POST" action="{% url 'add-section-save' %}">
                        {% csrf_token %}


                        {% comment %} Display Messages {% endcomment %}
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="card-body">
                            <div class="form-group">
                                <label>Section </label>
                                <input type="text" class="form-control" name="class" placeholder="Class/Section" id="id_section">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add Class</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}


{% block custom_js%}
<script>
    $(document).ready(function () {
        // keyup event will be triggered when user leaves keyboard
        $("#id_section").keyup(function () {
            var section = $(this).val();
            if (section != "") {
                $.ajax({
                    url: "{% url 'check-section-exist' %}",
                    type: 'POST',
                    data: { section: section }
                })
                .done(function (response) {
                    if (response == True) {
                        $(".section_error").remove();
                        $("<span class='section_error' style='color: red; padding: 5px; font-weight: bold;'> Section Not Available. </span>").insertAfter("#id_section")
                    }
                    else {
                        $(".section_error").remove();
                        $("<span class='section_error' style='color: green; padding: 5px; font-weight: bold;'> Section Available. </span>").insertAfter("#id_section")
                    }
                })
                .fail(function () {
                    console.log("Failed");
                })
            }
            else {
                $(".section_error").remove();
            }
        })
    })
</script>
{% endblock custom_js %}

