{% extends 'principal/base.html' %} {% block page_title %} Manage
Student {% endblock page_title %} {% block main_content %} {% load static %}

<section class="content">
    <a class="btn btn-primary" href="{% url 'add_student' %}" role="button"
      ><i class="fas fa-plus"></i> Add Student</a>
    <br />&nbsp; {% if messages %}
    <div class="form-group">
      <div class="col-12">
        {% for message in messages %} {% if message.tags == "error" %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
          style="margin-top: 10px"
        >
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% elif message.tags == "success" %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
          style="margin-top: 10px"
        >
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="table-responsive" style="padding-right: 5px;">
      <table class="table table-bordered table-hover" id="studenttable">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Student</th>
            <th>Student Email</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Session</th>
            <th>Section</th>
            <th>Last Login</th>
            <th>Date Joined</th>
          </tr>
        </thead>
        <tbody>
          {% for student in Student %}
          <tr
            class="clickable-row"
            data-href="{% url 'student_detail' student.admin.id  %}"
          >
            <td>{{ forloop.counter }}</td>
            <td>
              {{ student.admin.first_name }} {{ student.admin.last_name }}
            </td>
            <td>{{ student.admin.email }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.gender }}</td>
            <!--<td> <img src="{{ student.profile_pic }}" style="width: 70px; height: 70px;" /> </td> -->
            <td>
              {{ student.session_year_id.start_year}}-{{student.session_year_id.end_year }}
            </td>
            <td>{{ student.course_id.course_name }}</td>
            <td>{{ student.admin.last_login }}</td>
            <td>{{ student.admin.date_joined }}</td>

            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
</section>

{% endblock main_content %} {% block custom_js %}
<script>
  $("#studenttable").DataTable({});
</script>

{% endblock custom_js %}
