{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'principal_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Dechen Choling HSS</span>
    </a>
    <div class="sidebar">
        
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    {% url 'principal_home' as principal_home %}
                    <a href="{{ principal_home }}" class="nav-link {% if request.path == principal_home %} active {% endif %}">
                        <i class="nav-icon fab fa-themeisle"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manage-teacher' as manage_teacher %}
                    {% url 'edit_staff' staff_id=id as edit_staff %}
                    <a href="{{ manage_teacher }}" class="nav-link {% if request.path == manage_teacher %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>Teacher</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage-student' as manage_student %}
                    {% url 'edit-student' student_id=id as edit_student %}
                    <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>Student</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage-section' as manage_section %}
                    {% url 'edit-section' section=id as edit_section %}
                    <a href="{{ manage_section }}" class="nav-link {% if request.path == manage_section %} active {% endif %} {% if request.path == edit_section %} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard"></i>
                        <p>Classes</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage-subject' as manage_subject %}
                    {% url 'edit_subject' subject_id=id as edit_subject %}
                    <a href="{{ manage_subject }}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Subjects</p>
                    </a>
                    
                </li>
                <li class="nav-item">
                    {% url 'view_attendance' as view_attendance %}
                    <a href="{{ view_attendance }}" class="nav-link {% if request.path == view_attendance %} active {% endif %}">
                        <i class="nav-icon fas fa-eye"></i>
                        <p>Attendance</p>
                    </a>
                    
                </li>
                <li class="nav-item">
                    {% url 'student_leave_view' as student_leave_view %}
                    <a href="{{ student_leave_view }}" class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>Student Leave</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_leave_view' as staff_leave_view %}
                    <a href="{{ staff_leave_view }}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Teacher Leave</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'staff_feedback_message' as staff_feedback_message %}
                    <a href="{{ staff_feedback_message }}" class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Teacher Feedback</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'student_feedback_message' as student_feedback_message %}
                    <a href="{{ student_feedback_message }}" class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Student Feedback</p>
                    </a>
                </li>
              
                <li class="nav-item">
                    {% url 'manage-academic-year' as manage_academic_year %}
                    {% url 'edit_academic_year' academic_year_id=id as edit_academic-year %}
                    <a href="{{ manage_academic_year }}" class="nav-link {% if request.path == manage_academic_year %} active {% endif %} {% if request.path == edit_academic_year %} active {% endif %}">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>Academic Year</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add-assign-section' as add_assign_section %}
                    {% url 'edit_session' session_id=id as edit_session %}
                    <a href="{{ add_assign_section }}" class="nav-link {% if request.path == add_assign_section %} active {% endif %} {% if request.path == edit_session %} active {% endif %}">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>Assign Section</p>
                    </a>
                </li>
            </ul>
            
        </nav>
    </div>
</aside>